@{
    var Id = Utility.GetRandomId();

    var UserId = Convert.ToInt32(User.Identity.Name);
}

<div id="@Id">
    <div class="modal-header">
        <h4><i class="icon-key mr8 text-danger"></i>Cambiar Contraseña</h4>
        <hr />
    </div>
    <div class="modal-body">
        <form action="@Url.Action("ChangePassword")" method="POST">
            @Html.Hidden("Id", UserId)
            <div class="row-fluid">
                <div class="span12">
                    @Html.Label("OldPassword", "Contraseña Actual")
                    @Html.Password("OldPassword", null, new { @class = "input-block-level", placeholder = "Contraseña Actual", @required = true, @data_req_message = "Debe ingresar su <strong>Constraseña Actual</strong>." })
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @Html.Label("NewPassword", "Nueva Contraseña")
                    @Html.Password("NewPassword", null, new { @class = "input-block-level mb8", placeholder = "Nueva Contraseña", @required = true, @data_req_message = "Debe ingresar su <strong>Nueva Constraseña</strong>." })

                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @Html.Label("RepeatPassword", "Repetir Nueva Contraseña")
                    @Html.Password("RepeatPassword", null, new { @class = "input-block-level", placeholder = "Repetir Nueva Contraseña", @required = true, @data_req_message = "Debe repetir su <strong>Nueva Constraseña</strong>." })
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <hr />
        <a href="javascript:void(0);" class="btn btn-warning pull-left" data-dismiss="modal">
            <i class="icon-remove mr8"></i>Cancelar
        </a>
        <a id="BtnChange" href="javascript:void(0);" class="btn btn-success pull-right">
            <i class="icon-save mr8"></i>Cambiar
        </a>
    </div>
</div>

<script>
    $(function () {
        var Modal_ = $("#@Id");
        var Form_ = $(Modal_).find("form:first");
        var BtnChange = $(Modal_).find("#BtnChange");
        var NewPassword = $(Modal_).find("#NewPassword");
        var RepeatPassword = $(Modal_).find("#RepeatPassword");

        $(NewPassword).pwstrength({
            common: {
                minChar: 8,
                progressBarEmptyPercentage: 0,
                progressBarMinPercentage: 0
            },
            ui: {
                bootstrap2: true
            }
        });

        $(BtnChange).click(function () {
            var ValidForm = App.ValidateForm(Form_);

            if (ValidForm) {
                App.ShowConfirm({
                    Content: "¿Está seguro(a) que desea <strong>Cambiar</strong> su <strong>Contraseña</strong>?",
                    Callback: function () {
                        if ($(NewPassword).val() !== $(RepeatPassword).val()) {
                            App.ShowMessage("Su <strong>Nueva Contraseña</strong> no fue <strong>Repetida Correctamente</strong>.", MessageType.Error);
                            $(NewPassword).focus();
                            return;
                        }

                        $(Form_).submit();
                    }
                });
            }
        });
    });
</script>
